@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Slab:wght@300;400&display=swap");

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-weight: 300;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
    background: url("../assets/beach_bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f6f6e9;
}

h1,
h2,
h3,
h4,
h5{
    color:#02d7df;
    font-weight: 400;
}

p {
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
}

span{
    font-weight: 400;
    font-style: italic;
}

a{
    color:#f6f6e9;
    text-decoration: none;
    background: #61a6ab;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 2.5rem;
    background: #130413;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #130413ee;
}

#fullNav {
    display: none;
}

#mobileNav{
    width:100%;
    height:100%;
}


#home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(41, 27, 37);
    background: radial-gradient(
        circle,
        rgba(41, 27, 37, 1) 0%,
        rgba(19, 4, 19, 1) 68%
    );
}

#about {
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #130413cc;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #130413cc;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Scroll Effect */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Nav */
.logo {
    width: 0;
    justify-content: flex-start;
    flex-grow: 1;
    background: 0;
}

.logo img {
    width: 35%;
}

header h3 {
    align-self: center;
    justify-content: center;
    margin-left: 4rem;
    font-size: 4rem;
}

nav {
    display: flex;
    position: relative;
    width: 0;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0 2rem;
}

.navBar {
    display: flex;
    margin: 0;
    gap: 3.6rem;
    padding: 0.5rem 1.5rem;
    list-style: none;
    background:#61a6ab;
}

.navBar a {
    font-size: 2.5rem;
    background: 0;
}

.navBar a:hover {
    color: #02d7df ;
}

/* Mobile Nav */

.asideNav {
    width: 20%;
    position: fixed;
    top: 10%;
    left: 0;
    border-radius: 0 3% 3% 0;
    background: rgb(19,4,19);
    background: linear-gradient(90deg, rgba(97,166,171,1) 20%, rgba(19,4,19,1) 100%);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 19px 3px rgba(10, 0, 10, 0.75);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  
  .navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }
 
  .mobileNavLink {
    display: block;  
    position: relative;
    padding: 2rem 0;
    color: #f6f6e9;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s .15s ease-in;
    background:0;
  }

  .mobileNavLink i{
      font-size: 4rem;
  }
  
  .mobileNavLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #f6f6e9;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
  }
  
  .mobileNavLink:hover::after {
    width: 100%;
  }

  label {
    display: inline-block;
    position: fixed;
    margin: 10px;
    padding: 7px 10px;
    cursor: pointer;
    background: red;
    z-index: 3;
  }
  
  .bar {
    display: block;
    background-color: #02d7df ;
    width: 30px; 
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
  }
  
  .content {
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #f6f6e9;
    z-index: 2;
    transition: transform .5s ease-in-out;
  }
  
  
 
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
  }
  
  input[type="checkbox"]:checked ~ label .bar {
    background-color: #f6f6e9;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .middle {
    margin: 0 auto;
  }

/* Full Nav */

.hidden {
    display: none;
}

.word {
    position: absolute;
    margin: 0.5rem -1rem;
    width: 2rem;
    opacity: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.homeImg {
    display: flex;
    width: 30%;
}

.home img {
    width: 100%;
    border-radius: 50%;
}

.home h1 {
    margin-bottom: 2rem;
    color: #02d7df;
    font-size: 4rem;
    font-weight: 300;
}

.home p {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
}

/* About Me */

.aboutTxt h2 {
    color: #02d7df;
    font-size: 5rem;
    font-weight: 300;
}
.aboutTxt {
    text-align: center;
    margin: 0 4rem 4rem;
    padding: 3rem 6rem;
    font-size: 3.5rem;
    background: #130413;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
}

.skills {
    display: flex;
    align-items: stretch;
    margin: 6rem 4rem;
    gap: 2rem;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    background: #130413;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
}

.icon {
    font-size: 4rem;
    width: 8rem;
    background: #02d7df;
}

.skill p {
    margin: 1rem 0;
    font-size: 2.5rem;
}
.skills a {
    color:#f6f6e9;
    font-size: 3rem;
    font-weight: 400;
     text-decoration:none;
    background: #61a6ab;
}

/* Projects */

.project {
    display: flex;
    margin-top: 1rem;
    height: 50vh;
    min-width: 0;
    min-height: 255px;
    box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
    -webkit-box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
    -moz-box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
}

.project:first-of-type {
    margin: 0;
}

.pjtImg {
    width: 75%;
    object-fit: contain;
    overflow: hidden;
}

.pjtImg img {
    height: 100%;
}

.pjtTxt {
    border-left: 0.3rem solid #02d7df;
    width: 25%;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}

.pjtTxt h3 {
    font-size: 3rem;
}

.pjtTxt p {
    font-size: 1.5rem;
}

.right {
    flex-direction: row-reverse;
}

.right .pjtTxt {
    border-left: none;
    border-right: 0.3rem solid #02d7df;
}

/* Contact Form */

.formContain {
    width: 50%;
    background: #130413aa;
    margin: 7rem;
}

.contactHead {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 0.2rem solid #02d7df;
}

.contactHead p {
    margin: 0;
    font-size: 1.5rem;
}

.contactForm {
    border: solid #02d7df;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    justify-content: center;
    align-content: center;
}

#floatingTextarea {
    height: 20rem;
}
.formControl {
    display: flex;
    align-items: center;
}

label {
    font-size: 1rem;
    color: rgb(41, 27, 37);
}

/* Footer */
.fineprint {
    display: flex;
}

.legals {
    font-size: 2rem;
}

.legals a {
    color: #02d7df;
    text-decoration: none;
    background: 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
  
}

.socials a{
     background: 0;
}
.socials i {
    padding-top: 1rem;
    font-size: 2.5rem;
    color: #02d7df;
     
}

.socials i:hover {
    color: #f6f6e9;
}

.serviceTxt{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.serviceTxt h3{
    background: #130413cc;
}
