@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Slab:wght@300;400&display=swap");

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    scroll-behavior: smooth;
}

html,
body {
    /* width: 100vw; */
    height: 100%;
    font-size: 62.5%;
    font-weight: 300;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
 overflow-x: hidden;
    background: #291b25;
}

h1,
h2,
h3,
h4,
h5 {
    color: #291b25;
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
}

p {
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
}

span {
    font-weight: 400;
    font-style: italic;
}

a {
    color: #f6f6e9;
    font-weight: 400;
    text-decoration: none;
    background: #03989e;
    cursor: pointer;
}
a:hover{
    color: #130413;
}
ul{
    margin: 0;
}

.instincdev {
    color: #03989e;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
}

/******************************************
/* LAYOUT
/*******************************************/

/*  Landing Page */
#home {
    background: url("../assets/beach_bg.jpg") no-repeat;
    background-size: cover;
    background-attachment:scroll;
    color: #f6f6e9;
}


/*  About Page */
#about {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 6rem;
    padding: 3rem 6rem;
    font-size: 2.5rem;
    justify-content: space-around;
    background: #130413cc;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
}

/*  Projects Page */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10% 0;
    gap: 10rem;
}


nav .container{ 
    width: 100%;

}
.brand-logo h3{
    color:#f6f6e9;
    padding-left: 1.5rem !important;
}

nav ul a{
    letter-spacing: .2rem;
    color:#f6f6e9;
    font-size: 1.5rem ;
}

h3{
    font-size: 3rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



.centered {
    text-align: center;
    list-style-type: none;
}

.hidden{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.icon{
    font-size: 2.5rem;
    color: #130413;
}


.logo img {
    max-width: 142px;
    min-width: 57px;
    height: 100%;
}

header h3 {
    display: flex;
    align-items: center;
}
.sidenav{
    background: transparent;
}

.sidenav li > a{
    color:#f6f6e9;
    font-size: 2rem;
}
nav {
    background: #03989e;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    margin:  auto;
    gap: 3rem;
    padding: 0.5rem 1.5rem;
    list-style: none;
    background: #03989e;
}

.navBar a:hover {
    color: #03989e;
}

/* Home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
    
    gap: 3rem;
    text-align: center;
}


.home img {
    width: 25rem;
    min-width: 10rem;
    padding-right: 1rem;
    border-radius: 50%;
}

.home h1 {
    margin-bottom: 2rem;
    color: #291b25;
    font-size: 3rem;
    font-weight: 400;
}

.home p {
    color: #291b25;
    margin-top: 0;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
}

.home span{
    
    font-size: 2.5rem;
    font-weight: 700;
}

.homeBtns{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    padding-left: 1rem;
}

.home a {
    margin-top: 1.5rem;
    padding: .5rem 2rem;
    font-size: 3rem;
    border-radius: 0.25rem;
    background: linear-gradient(
        162deg,
        rgba(2, 215, 223, 0.5931159546656638) 26%,
        rgba(97, 166, 171, 1) 66%
    );
}

.home a:active {
    background: linear-gradient(
        162deg,
        rgba(97, 166, 171, 1) 26%,
        rgba(2, 215, 223, 0.5931159546656638) 66%
    );
}

/*************************************/
/** Services Cards **/
/*************************************/


/* About Me */

.aboutImg{
display: inherit;
width: 70%;

}
.aboutImg img{
    width: 100%;
}


.aboutTxt h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    align-self: center;
}
.aboutTxt {
    
    display: inherit;
    flex-direction: column;
}

.aboutTxt p{
    text-align: justify;
    text-indent: 3.5rem;
}

#aboutSubHead{
    text-indent: 0;
    margin-bottom: 2rem;
    padding: 1.5rem 4.3rem;
    background: #61a6ab;
}

.aboutTxt .instincdev {
    font-size: 3rem;
}

.aboutTxt a {
    align-self: center;
    margin: 1.5rem 0;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background: linear-gradient(
        162deg,
        rgba(2, 215, 223, 0.5931159546656638) 26%,
        rgba(97, 166, 171, 1) 66%
    );
}

.aboutTxt a:active {
    background: linear-gradient(
        162deg,
        rgba(97, 166, 171, 1) 26%,
        rgba(2, 215, 223, 0.5931159546656638) 66%
    );

.service_cards{
    position: relative !important;
    top: -1.5rem;
    margin: 0 10% !important;
    background: #f6f6e9;
    border-radius: 50px !important;

}

.service{
    font-size: 2rem;
}
.service > .icon{
    font-size: 3rem;
}

.service a{
    padding: .8rem;
}

.service span{
    margin-top: 1rem;
}
/*************************************/
/** Quote **/
/*************************************/

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03989e;
}
.quote img{
    border-radius: 50%;
}
.quote-card{
    background: #f6f6e9;
}

.quote-card p{
    font-size: 2rem;
}

.highlightTxt h4{
    font-size: 4rem;
    color: #f6f6e9
}

.highlightTxt p{
    font-size: 2rem;
    color:#f6f6e9;
}
.highlightIcon li{
    margin-top: 2.5rem;
}

.highlightIcon a{
    padding: .5rem;
    font-size: 3rem;
    border-radius: 12%;
}

.highlightIcon a:hover{
    color:#291b25;
}

.service-dev{
    background: #f6f6e9;
}

.service-dev p{
    font-size: 2rem !important;
    color:#03989e;
}

.service-dev li{
    font-size: 2rem;
    color: #291b25;
}

.service-design{
    color: #291b25;
    background: #03989e;
}

.service-design p, .service-design span{
    font-size: 2rem !important;
    color:#f6f6e9;
}


/*************************************/
/** Projects **/
/*************************************/

.project {
    display: flex;
    align-content: center;
   
    box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
    -webkit-box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
    -moz-box-shadow: 0px 2px 10px -5px rgba(150, 150, 150, 0.75);
    background: #130413bb;
}

.pjtImg {
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
}

.pjtImg img {
    display: flex;
    width: 100%;
    height:500px;
}

.pjtTxt {
    display: flex;
    flex-direction: column;
    border-left: 0.3rem solid #02d7df;
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;   
}

.pjtTxt a{
    background: none;
}
.pjtTxt h3 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0 1.5rem;
}

.pjtTxt p {
    font-size: 1.5rem;
}

.right {
    flex-direction: row-reverse;
}

.right .pjtTxt {
    border-left: none;
    border-right: 0.3rem solid #02d7df;
}
/*************************************/
/** Contact Page **/
/*************************************/

.formContain {
    width: 85%;
    min-width: 380px;
    background: #130413aa;
    margin: 7rem;
}

.contactHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 0.2rem solid #f6f6e9;
    background: #61a6ab;
}

.contactHead h3 {
    padding: 1rem 3rem;
    font-size: 3rem;
    background: #130413;

.service-design li{
    font-size: 2rem;
    color: #291b25;

}
.service-update{
    color: #f6f6e9;
    background: #291b25;
}

.service-update p{
    font-size: 2rem !important;
    color:#03989e;
}

.service-update li{
    font-size: 2rem;
    color: #f6f6e9;
}

 .service-update h3{
    color: #f6f6e9;
 }

.service-main{
    color: #291b25;
    background: #03989e;
}

.service-main p{
    font-size: 2rem !important;
    color:#f6f6e9;
}

.service-main li{
    font-size: 2rem;
    color: #291b25;
}

.service-slider a{
    color: #292929;;
    border-radius: 0.25rem;
    background: linear-gradient(
        162deg,
        rgba(2, 215, 223, 0.5931159546656638) 26%,
        rgba(97, 166, 171, 1) 66%
    );
}
.service-slider span{
    color:#f6f6e9;
}

.projects{
    background:#03989e;
}

.projects .card-title{
    font-weight: 700 !important;
    color:#291b25 !important;
}


/*************************************/
/** Media Queries **/
/*************************************/

@media all and (max-width: 900px){

    .aboutTxt, .homeServicesText{
        font-size: 2rem;
    }
}


@media all and (max-width: 1047px) {
    header h3 {
        margin-right: 20rem;
        font-size: 3rem;
    }

    .navBar {
        background: 0;
        gap: 2rem;
    }

    .aboutTxt, .homeServicesText {
        width: 80%;
    }

    .aboutTxt .contact_btn {
        align-self: center;
        padding: 0 1rem;
        border-radius: 0.25rem;
        background: linear-gradient(
            162deg,
            rgba(2, 215, 223, 0.5931159546656638) 26%,
            rgba(97, 166, 171, 1) 66%
        );
    }

    .aboutTxt .contact_btn:active {
        background: linear-gradient(
            162deg,
            rgba(97, 166, 171, 1) 26%,
            rgba(2, 215, 223, 0.5931159546656638) 66%
        );
    }

    .homeService {
        min-width: 235px;
        gap: 1.5rem;
    }

    .homeService:first-of-type{
        border-radius:  0 ;
    }
    
    .homeService:last-of-type{
        border-radius: 0 ;
    }

    .homeService a {
        padding: 0 0.5rem;
        font-size: 2rem;
    }

    /** Banner **/

    #banner {
        top: 3%;
        height: 33%;
        max-height: 400px;
        min-height: 250px;
        background: url("../assets/skyline2.jpg") no-repeat;
        background-size: cover;
    }

    #bannerTint {
        width: 100%;
        height: 100%;
        padding: 0;
        background: url("../assets/close_up_code.png") no-repeat;
        background-size: cover;
        opacity: 0.5;
    }

    .bannerContent {
        position: absolute;
        top: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 80px;
        gap: 2rem;
        margin: 0 auto;
        z-index: 2;
    }

    .bannerImg {
        display: flex;
        width: 12%;
        min-width: 104px;
        min-height: 150px;
    }

    .bannerH1 {
        align-self: center;
        padding: 1rem 1.5rem;
        color: #f6f6e9;
        font-size: 2rem;
        
    }

    .bannerImg img {
        width: 100%;
        border-radius: 50%;
    }

    .service a, .service p, .service li{
        font-size: 2rem;
        font-weight:400;
    }

    .service .instincdev{
        font-size: 2.5rem
    }

    .col-6 {
        width: 90%;
    }

    .pgLinks a, .footerIcon i{
        font-size:2.5rem;
    }
 .fineprint img{
     width: 3rem;
 }
 
 .legals{
     font-size: 1.5rem;
 }
}  

@media all and (min-width: 1048px) {
    #mobileNav {
        display: none;
    }

    #fullNav {
        display: flex;
    }

    /* Nav */
    .logo {
        height: 200%;
    }

    header h3 {
        font-size: 3.5rem;
    }

    .navBar {
        background: 0;
        gap: 2rem;
    }

    /*  About Page */

    .aboutTxt, .homeServicesText {
        width: 80%;
    }
    
    .aboutTxt .contact_btn {
        align-self: center;
        margin: 1.5rem 0;
        padding: 0 1rem;
        border-radius: 0.25rem;
        background: linear-gradient(
            162deg,
            rgba(2, 215, 223, 0.5931159546656638) 26%,
            rgba(97, 166, 171, 1) 66%
        );
    }

    .aboutTxt .contact_btn:active {
        background: linear-gradient(
            162deg,
            rgba(97, 166, 171, 1) 26%,
            rgba(2, 215, 223, 0.5931159546656638) 66%
        );
    }

    .homeServices {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .homeService {
        width: 35%;
        gap: 1.5rem;
    }

    /** Banner **/

    #banner {
        top: 1rem;
        height: 33%;
        min-height: 325px;
        background: url("../assets/skyline2.jpg") no-repeat;
        background-size: cover;
    }

    #bannerTint {
        width: 100%;
        height: 100%;
        padding: 0;
        background: url("../assets/close_up_code.png") no-repeat;
        background-size: cover;
        opacity: 0.5;
    }

    .bannerContent {
        position: absolute;
        top: 6.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
        /* max-width: 1211px; */
        z-index: 2;
    }

    .bannerImg {
        display: flex;
        width: 12%;
        max-width: 145px;
        min-height: 150px;
    }

    .bannerH1 {
        align-self: center;
        padding: 1.5rem;
        color: #f6f6e9;
        font-size: 2.2rem;
        font-weight: 400;  
    }

    .bannerImg img {
        width: 100%;
        border-radius: 50%;
    }

    .formContain {
        width: 80%;
        max-width: 730px;
    }

    .contactHead h3 {
        font-size: 4rem;
    }

    .contactHead p {
        font-size: 2.5rem;
    }

    .contactHead ul {
        font-size: 3rem;
    }

    .contactHead span {
        font-size: 2.5rem;
    }

.card-content p{
    font-size: 1.2rem;
    text-align: left !important;

}

.page-footer{
    background:#291b25 ;
} 